body {
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    background: linear-gradient(135deg, #74b9ff, #a29bfe);
}

header {
    background: rgba(0,0,0,0.7);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

nav {
    background: rgba(0,0,0,0.6);
    padding: 12px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ffeaa7;
}

.container {
    max-width: 900px;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

button {
    padding: 10px 15px;
    border: none;
    background: #6c5ce7;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #4834d4;
}

input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

li {
    margin: 10px 0;
    padding: 10px;
    background: #f1f2f6;
    border-radius: 8px;
    cursor: pointer;
}
select {
    padding: 4px;
    border-radius: 5px;
    margin-top: 3px;
}
table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            overflow-x: auto;
            display: block;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 6px;
            text-align: center;
            min-width: 70px;
        }

        th {
            background: #6c5ce7;
            color: white;
        }

        .journal input {
            width: 60px;
            padding: 5px;
            text-align: center;
        }

        .student-name {
            font-weight: bold;
            background: #f1f2f6;
        }
